/* border variables*/
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;
$border-radius-xl: 20px;

$border-radius-round: 9999px;

$border-normal: 1px solid rgba(0, 0, 0, 0.04);
$border-lighter: 1px solid rgba(0, 0, 0, 0.08);

/* box shadow variables */
$box-shadow-xs: 0 2px 4px rgba(0, 0, 0, 0.18);
$box-shadow-sm: 0 6px 16px rgba(0, 0, 0, 0.12);
$box-shadow-md: 0 6px 20px rgba(0, 0, 0, 0.2);
$box-shadow-lg: 0 8px 28px rgba(0, 0, 0, 0.28);
