$color-white: white;
$color-black: black;

$colors-map: (
  "black": "#000000",
  "gray": "#222222",
  "gray-300": "#717171",
  "gray-200": "#B0B0B0",
  "gray-100": "#DDDDDD",
  "gray-50": "#EBEBEB",
  "gray-25": "#F7F7F7",

  "white": "#FFFFFF",
  "white-600": "#FFF8F6",

  "orange": "#C13515",
  "orange-600": "#B32505",
  "orange-400": "#E07912",

  "green": "#008A05",

  "blue": "#428BFF",

  "pink": "#FF385C",
  "red": "#E00B41",
  "red-600": "#92174D",

  "purple": "#460479",
);
