/* line height variables*/
$line-height-normal: normal;
$line-height-none: 1;

/* font weight variables*/
$font-weight-normal: normal;
$font-weight-medium: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;

/* letter spacing variables*/
$letter-spacing-normal: 0;
$letter-spacing-wide: 0.04em;

/* font family variables */
$font-body: "Cicular", -apple-system, BlinkMacSystemFont, Roboto,
  "Helvetica Neue", sans-serif;

/* fontSize and lineHeight */
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-2xl: 22px;
$font-size-3xl: 26px;
$font-size-4xl: 32px;

$line-height-xs: 12px;
$line-height-sm: 16px;
$line-height-md: 18px;
$line-height-lg: 20px;
$line-height-xl: 22px;
$line-height-2xl: 26px;
$line-height-3xl: 30px;
$line-height-4xl: 36px;
