@import 'variables';

:root {
  --black-color: #{$color-black};
}

html,
body,
ol,
ul,
li,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
  font-family: $font-body;
}

*,
*:before,
*:after {
  @include prefix(box-sizing, border-box);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  @include prefix(text-size-adjust, 100%);
  &.scrollbar-gutter {
    @include prefix(scrollbar-gutter, stable);
  }
}
